<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ./email.css
            
    body
        h2 Restablecer Password
        p Hola, has solicitado una nueva contraseña, haz clic en el siguiente enlace para restablecerla.
        a(href=`${resetUrl}`) Reset password
        p Si no puedes acceder a este enlace visita #{resetUrl}